*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation bar */
.logo{
    height: 50px;
}

.nav-list{
    display: flex;
    gap: 20rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50px;
    background-color: #D82328;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-list li a:hover{
    color: #D82328;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.nav-list2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    list-style: none;
    height: 50px;
    border-bottom: 0.5px solid black;
}
.nav-list2 li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-list2 li a:hover{
    color: #D82328;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
/*navigation bar end*/

/*Search section*/
.mb-container{
    margin-top: 80px;
}
.mb-search-heading{
    text-align: center;
    font: 30px sans-serif;
    padding: 0px 0px 30px;  
}
.mb-search-tab-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;

    & li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font: 1em sans-serif;
        display: inline-block;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background-color: #D82328;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }
        &:hover::after{
            transform: scaleX(1);
        }
    }
}


